.row
  .large-12.columns
    %h4 draws
    %h5 Help
    %p
      %a{:href => "https://github.com/rbojan/draws"} github.com/rbojan/draws
    %p
      Version
      = @version
    %p
      Last Reload:
      = @last_reload
    %p
      Handcrafted with
      %i.fi-heart
      in Vienna.
