!!!
%html.no-js{:dir => "ltr", :lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title draws
    %link{:href => "/css/foundation.min.css", :rel => "stylesheet"}
    %link{:href => "/css/dataTables.foundation.min.css", :rel => "stylesheet"}
    %link{:href => "/css/foundation-icons.css", :rel => "stylesheet"}
    %link{:href => "/css/app.css", :rel => "stylesheet"}
  %body
    .title-bar{"data-hide-for" => "medium", "data-responsive-toggle" => "draws-menu"}
      %button.menu-icon{"data-toggle" => "", :type => "button"}
      .title-bar-title Menu
    #draws-menu.top-bar
      .top-bar-left
      .menu-centered
        %ul.dropdown.menu{"data-dropdown-menu" => ""}
          %li
            %a{:href => "/"}
              %i.fi-cloud
              %span VPCs
          %li
            %a{:href => "/instances"}
              %i.fi-list
              %span Instances
          %li.menu-text draws
          %li
            %a{:href => "/help"}
              %i.fi-lightbulb
              %span Help
          %li
            %a{:href => "/reload"}
              %i.fi-refresh
              %span Reload
    .row
      .large-12.columns
        %p
    .row
      .large-12.columns
        = yield

    %script{:src => "/js/vendor/jquery.min.js"}
    %script{:src => "/js/vendor/what-input.min.js"}
    %script{:src => "/js/vendor/foundation.min.js"}
    %script{:src => "/js/vendor/jquery.dataTables.min.js"}
    %script{:src => "/js/vendor/dataTables.foundation.min.js"}
    %script{:src => "/js/vendor/mark.min.js"}
    %script{:src => "/js/vendor/datatables.mark.min.js"}
    %script{:src => "/js/app.js"}
